@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #222;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #102234;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  height: 60px; /* Adjust height as desired */
}

.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.logo img {
  width: 50px; /* Adjust width/height as needed */
  height: 50px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.nav-links li {
  display: block;
  padding: 10px 20px; 
  text-align: center;
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}


.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .nav {
    height: auto;
    padding: 10px 0;
  }

  .nav.active {
    background-color: #102234;
    box-shadow: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #102234;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav.active .nav-links {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}



@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}





.menu-toggle.close .bar {
  background-color: #fff;
  position: absolute;
  width: 25px;
  height: 3px;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle.close .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.close .bar:nth-child(2) {
  transform: rotate(-45deg) translate(4px, -4px);
}










.hero {
  background-image: url(https://img.freepik.com/free-vector/digital-global-connection-network-technology-background_1017-23324.jpg?w=1380&t=st=1686121594~exp=1686122194~hmac=cbbe7dcf7348edc481f07c8c8a2c75ed1d0d3c3fafeb693d229f99cdcd1d6ad4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.1px;
}

.more {
  display: flex;
  justify-content: center;
}
.more button {
  color: #102234;
  border-radius: 5%;
  background-color: rgb(250, 250, 255);
  border: none;
  padding: 14px 40px;
  margin: 8px;
}

.services {
  text-align: center;
}

.more-services {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 70px;
}

.more-services button {
  background-color: #102234;
  color: wheat;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.card-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.exp{
  color: #000;
  font-weight: bold;
  font-style: oblique;
}




.service-description {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.more-services {
  flex: 1;
  padding-right: 20px; /* Adjust spacing between text and image */
}

.application-image img {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Adjust height as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .service-description {
    flex-direction: column;
    align-items: center;
  }

  .more-services,
  .application-image {
    flex: none;
    width: 80%; /* Adjust width as needed */
    padding: 10px; /* Add padding for space */
    text-align: center; /* Center text content */
  }

  .application-image img {
    margin-top: 20px; /* Add margin for space between text and image */
  }
}




.card {
  flex-basis: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .card {
    flex-basis: 30%;
  }
}

@media (min-width: 992px) {
  .card {
    flex-basis: 30%;
  }
}

.background-container {
  background-color: rgb(224, 241, 247);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.reasons {
  margin-top: 20px;
}

.content-section {
  margin-top: 20px;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item {
  flex-basis: calc(33.33% - 20px);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 768px) {
  .item {
    flex-basis: calc(100% - 20px);
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
  }
}


.numbering {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dotted-line {
  border: none;
  border-top: 2px dotted #333;
  margin: 10px auto;
  width: 50%;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #888;
}

.container-last {
  display: flex;
  align-items: center;
  padding: 20px;
}

.blue-circle {
  background-color: #3498db;
  width: 200px; /* Set the width and height to create a perfect circle */
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .blue-circle {
    margin-right: 0;
    margin-bottom: 20px;
    width: 150px; /* Adjust the size for smaller screens */
    height: 150px;
  }
}


.circle-text {
  text-align: center;
}

.circle-text h2 {
  font-size: 40px;
  margin: 0;
}

.circle-text p {
  font-size: 14px;
  margin: 0;
}

.content-last {
  display: flex;
  flex-direction: column;
  color: #555;
}


.content-column {
  text-align: center;
  margin-top: 20px;
}

.content-column p {
  font-size: 16px;
  font-weight: bold;
  color: #555;
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.content-column p:hover {
  transform: translateY(-5px);
}


@media (max-width: 768px) {
  .container-last {
    flex-direction: column;
    text-align: center;
  }

  .blue-circle {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer {
  background-color: #f0f0f0;
  padding: 40px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px;
}

h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

.social-icons a:hover {
  color: #000;
}

.company-logo {
  width: 150px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Add rounded corners */
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.container-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-contact {
  width: calc(50% - 10px);
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px; /* Increase the height */
}

.card-contact h2 {
  font-size: 24px;
  margin-bottom: 20px; /* Increase margin for better spacing */
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Add border radius */
}

form button {
  background-color: #5bc0de; /* Light blue color */
  color: white;
  padding: 10px 40px; /* Larger horizontally */
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #46b8da; /* Slightly darker on hover */
}

.light-blue-icon {
  color: #5bc0de; /* Light blue color for the icons */
}

.hero-about {
  background-color: #f9f9f9;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.content-about {
  padding: 50px 0;
}

.content-about h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
}

.content ul {
  list-style-type: disc;
  margin-left: 20px;
}




@media screen and (max-width: 768px) {
  .container-contact {
    flex-direction: column;
  }

  .card-contact {
    width: 100%;
    margin-right: 0;
  }

  .card-contact + .card-contact {
    margin-top: 20px; 
  }
}
